.login-header {
  font-size: 4.5rem;
}
.login-container {
  width: 540px;
}
.app-decription{
    margin-top:20px;
    margin-bottom:60px;
}
.login-dialog{
    border:1px solid grey;
    border-radius: 5px;
}