.subHeading {
    text-align: left;
    color: #db5243;
}

.calendar {
    
}
.profile-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
  }

  .profo{
      width: 120px;
      height: 90px;
      border-radius: 5px;
  }